[flake8]
extend-ignore =
    # Module imported but unused
    F401,
    # line too long (80 > 79 characters)
    E501
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist
max-complexity = 10
